:root.theme-dark {
  --main-background-color: #000028;
  --main-font-color: #F1B2CE;
  --title-color: #ff0070;
  --undertitle-color: #000028;
  --accent-color: #ff0070;
  --accent-color-title: #db00ff;
  --rec-theme-color: #ff0070;
  --button-text-color: #ff0070;
  --button-outline-color: rgb(255 0 112 / 40%);
  --main-background-image: url("../images/cover-image-dark.png");
  
}

