:root.theme-dark {
  --title-short-text-color: #DB00FF;
  --main-background-image: url(/images/cover-image-dark.png);
  --title-text-color: #000028;
  --accent-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-rgb: rgba(255, 0, 112, 0.4);
  --shadow-accent-color: #FF0070;
  --main-background-color: #000028;
  --menu-focus-color: #FF0070;
  --answer-text-color: #F1B2CE;
  --answer-short-text-color: #000028;
  --question-text-color: #FF0070;
  --corner-color: #FF0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark li {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-short-text-color: #DB00FF;
    --main-background-image: url(/images/cover-image-dark.png);
    --title-text-color: #000028;
    --accent-color: #FF0070;
    --menu-color: #FF0070;
    --menu-color-rgb: rgba(255, 0, 112, 0.4);
    --shadow-accent-color: #FF0070;
    --main-background-color: #000028;
    --answer-text-color: #F1B2CE;
    --answer-short-text-color: #000028;
    --question-text-color: #FF0070;
    --corner-color: #FF0070;
  }

  li {
    outline: none;
  }
}