:root.theme-dark {
  --main-background-color: #000028;
  --main-font-color: #F1B2CE;
  --title-color: #ff0070;
  --title-font-color: #000028;
  --accent-color: #ff0070;
  --title-main-text-color: #db00ff;
  --rec-theme-color: #ff0070;
  --button-text-color: #ff0070;
  --button-outline-color: rgb(255 0 112 / 40%);
  --main-background-image: url("../images/cover-image-dark.png");
  --question_text-color: #FF0070;
  --content__answer-short-color: 
  --corner-color: #ff0070;
}

