:root.theme-light {
  --title-short-text-color: #FFC2E6;
  --main-background-image: url(/images/cover-image-light.png);
  --title-text-color: #353430;
  --accent-color: #FF8DCB;
  --menu-color: #353430;
  --menu-color-rgb: rgba(53, 52, 48, 0.4);
  --shadow-accent-color: #FF8DCB;
  --main-background-color: #FFF1F7;
  --menu-focus-color: #FF0070;
  --answer-text-color: #353430;
  --answer-short-text-color: #353430;
  --question-text-color: #353430;
  --corner-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec_element {
  display: none;
}

.theme-light .rec_element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-short-text-color: #FFC2E6;
    --main-background-image: url(/images/cover-image-light.png);
    --title-text-color: #353430;
    --accent-color: #FF8DCB;
    --menu-color: #353430;
    --menu-color-rgb: rgba(53, 52, 48, 0.4);
    --shadow-accent-color: #FF8DCB;
    --main-background-color: #FFF1F7;
    --menu-focus-color: #FF0070;
    --answer-text-color: #353430;
    --answer-short-text-color: #353430;
    --question-text-color: #353430;
    --corner-color: #353430;
  }  
  
  .theme-light .rec_element {
    display: none;
  }

  .theme-auto .rec_element {
    display: none;
  }

  .rec_element .rec_element::after {
    display: none;
  }
}