:root.theme-light {
  --main-background-color: #fff1f7;
  --main-font-color: #354330;
  --title-color: #354330;
  --title-font-color: #354330;
  --accent-color: #ff8dcb;
  --title-main-text-color: #ffc2e6;
  --rec-theme-color: #354330;
  --button-text-color: #354330;
  --button-outline-color: rgb(50 49 45 / 40%);
  --main-background-image: url("../images/cover-image-light.png");
  --question_text-color: #FF0070;
  --content__answer-short-color: #354330;
  --corner-color: #354330;
}

.theme-light .page .rec_element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-background-color: #fff1f7;
  --main-font-color: #354330;
  --title-color: #354330;
  --title-font-color: #354330;
  --accent-color: #ff8dcb;
  --title-main-text-color: #ffc2e6;
  --rec-theme-color: #354330;
  --button-text-color: #354330;
  --button-outline-color: rgb(50 49 45 / 40%);
  --main-background-image: url("../images/cover-image-light.png");
  --question_text-color: #FF0070;
  --content__answer-short-color: #354330;
  --corner-color: #354330;
  }
}

.theme-auto .rec_element {
  display: none;
}