.page {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font, 'IBM Plex mono') monospace;
  font-size: 18px;
  block-size: min-content;
  position: relative;
  font-weight: 700;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }

 @media (width >= 768px) {
    .header {
      block-size: max(1024px, 100vh);
      padding: 20px 20px 20px 0;
    }
 }

 @media (width >= 1024px) {
  .header {
    block-size: max(768px, 100vh);
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  content: "";
  border: 1px solid var(--corner-color);
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-top:none;
  border-left: none;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top:none;
  border-left: none;
}

.rec_element {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 20px;
}

.rec_element:before {
  content: "REC";
}

.rec_element:after {
  display: block;
  content: "";
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color)
}


@media (width >= 768px) {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--main-padding-small, 10px);
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
  block-size: max(668px, 100vh);
 }

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  block-size: 100%;
}

.header__theme-menu-button {
  text-align: center;
  background: transparent;
  color: var(--button-text-color);
  border: none;
  text-transform: lowercase;
  padding-right: 13px;
  padding-left: 13px;
}

.header__theme-menu-bitton:hover {
  outline: 1px solid var(--button-outline-color)
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-theme-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--accent-color-title, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  cursor: default;
}

.header__undertitle {
  font-size: var(--main-font), monospace;
  font-weight: var(--title-font-weight, 700);
  border-bottom: none;
  border-left: none;
}

.tit