.page {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font, 'IBM Plex mono') monospace;
  font-size: 18px;
  block-size: min-content;
  position: relative;
  font-weight: 700;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }

 .header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
  block-size: max(668px, 100vh);
 }

 @media (width >= 768px) {
    .header {
      block-size: max(1024px, 100vh);
      padding: 20px 20px 20px 0;
    }
 }

 @media (width >= 1024px) {
  .header {
    block-size: max(768px, 100vh);
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--accent-color-title, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  grid-row: 2;
  grid-column: 1/-1;
}

@media (width >= 768px) {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
}

.header__undertitle {
  font-size: var(--main-font), monospace;
  font-weight: var(--title-font-weight, 700);

}