.page {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font, 'IBM Plex mono') monospace;
  font-size: 18px;
  block-size: min-content;
  position: relative;
  font-weight: 700;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 }

 .header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
  block-size: max(668px, 100vh);
 }
