.page {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font), monospace;
  block-size: min-content;
  position: relative;
  font-weight: 700;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  content: "";
  border: 1px solid var(--corner-color);
}

.decorated-zone::after {
  border-top: none;
  border-right: none;
  bottom: 10px;
  left: 10px;
}

.decorated-zone::before {
  border-left: none;
  border-bottom: none;
  right: 10px;
  top: 10px;
}

@media (width >= 768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.rec_element {
  position: absolute;
  align-self: start;
  justify-self: end;
  margin: 0;
  right: 10px;
  margin-right: 28px;
  font-size: 18px;
  grid-column: 3;
  grid-row: 1;
  color: var(--accent-color);
}

@media (width >= 768px) {
  .rec_element {
    right: 20px;
  }
}

.rec_element::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 42px;
  background: var(--accent-color);
  width: 10px;
  height: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color)
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  position: relative;
  block-size: min(668px, 100vh);
  padding: 10px;
  inline-size: 100%;
 }

 @media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
    block-size: max(1024px, 100vh);
  }
 }

 @media (width >= 1024px) {
  .header {
    block-size: max(768px, 100vh);
  }
 }

 .header__theme-menu {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / -1;
    align-self: start;
    justify-self: center;
    margin-left: 20px;
  }
 }

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
 }

.header__theme-menu-button {
  font-family: inherit;
  background: transparent;
  font-size: 18px;
  color: var(--menu-color);
  border: none;
  text-transform: lowercase;
  border: none;
  height: 24px;
  padding-right: 13px;
  padding-left: 13px;
}

.header__theme-menu-bitton:hover {
  outline: 1px solid var(--menu-color-rgb);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
}

.title_short {
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-short-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  grid-column: 1 / -1;
  grid-row: 2;
}

@media (width >= 1024px) {
  .title_short {
    line-height: 129.5px;
  }
}

@media (width >= 768px) {
  .title_short {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-weight: 700;
    line-height: 99px;
  }
}

.title-decor {
  font-weight: 700;
  font-family: var(--main-font), monospace;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  grid-row: 3;
  grid-column: 1 / -1;
  border: 1px solid var(--main-background-color);
  margin: 0;
  justify-self: end;
  align-self: center;
}

@media (width >= 768px) {
  .title-decor {
    max-width: 49%;
  }
}

.main_section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 50px;
  padding: 40px 10px 0 10px;
}

@media (width >= 768px) {
  .main_section {
    padding: 60px 20px 20px 20px;
    row-gap: 80px;
  }
}

@media (width >= 768px) {
  .question_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}

@media (width >= 1024px) {
  .question_section {
    column-gap: 10px;
  }
}

.content__what, .answer {
  margin-bottom: 20px;
}

.content__what, .answer:last-of-type {
  margin-bottom: 0;
}

.content__gallery, .answer_short {
  font-size: 18px;
}

@media (width >= 768px) and (width < 1024px) {
  .content__question,
  .content__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content, 1fr;
    row-gap: 20px;
  }

  .content__question, .question_text {
    grid-row: 1;
    grid-column: 1;
  }

  .content__question, .answer {
    grid-row: 2;
    grid-column: 1 / -1;
    margin-bottom: 20px;
  }

  .content__gallery, .answer_short {
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
  }

  .content__gallery, .gallery {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .content__question,
  .content__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }

  .content__question, .question_text {
    grid-row: 1;
    grid-column: 1;
  }

  .content__question, .answer {
    display: grid;
    grid-row: 2;
    grid-column: 1 / -1;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 40px) / 3), 1fr));
  }

  .content__gallery, .answer-short {
    grid-row: 1;
    grid-column: 1 / -1;
    margin: 0;
  }

  .content__gallery, .gallery {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

.question_text {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--question-text-color);
  margin: 0;
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .question_text {
    padding-right: 9px;
    margin-bottom: 0;
  }
}

.answer {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.5px;
  color: var(--answer-short-text-color);
}

.advices {
  display: flex;
  flex-direction: column;
}

.content_how {
  display: flex;
  flex-direction: column;
}

.answer_short {
  color: var(--answer-short-text-color);
  background-color: var(--accent-color);
  margin: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.sub_answer_short {
  margin-bottom: 20px;
}

.answer_full {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  color: var(--answer-text-color);
  margin: 0;
  margin-bottom: 20px;
}

.answer, .answer_full:last-of-type {
  margin-bottom: 0;
}

.text_link {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 0 var(--shadow-accent-color);
}

.text_link:hover {
  border-bottom: 1px solid var(--menu-color);
}

.text_link:focus {
  outline: none;
  border: none;
}

.text_link:focus-visible {
  outline: 1px solid var(--answer-text-color);
  border: 1px solid transparent;
  color: var(--answer-text-color);
}

.advice {
  font-family: var(--main-font), monospace;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--accent-color);
  line-height: 23.4px;
  margin: 0 0 10px 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
  grid-auto-flow: dense;
  margin-bottom: 40px;
}

.gallery__item {
  margin: o;
}

.gallery__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 1024px) {
  .gallery {
    grid-template-rows: 260px 315px 433px;
  }
}

.footer {
  display: grid;
  height: 100vh;
  padding: 10px;
  block-size: max(668px, 100vh);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

@media (width >= 768px) {
  .footer {
    padding: 20px;
    block-size: max(1024px, 100vh);
  }
}

@media (width >= 1024px) {
  .footer {
    block-size: max(768px, 100vh);
  }
}

.footer_title {
  justify-self: center;
}