:root {
  --main-font: 'IBM Plex mono';
  --title-short-text-color: #DB00FF;
  --main-background-image: url(/images/cover-image-dark.png);
  --title-text-color: #000028;
  --accent-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-rgb: rgba(255, 0, 112, 0.4);
  --shadow-accent-color: #FF0070;
  --main-background-color: #000028;
  --answer-text-color: #F1B2CE;
  --answer-short-text-color: #000028;
  --question-text-color: #FF0070;
  --corner-color: #FF0070;
}